<h1>Listing lunches</h1>

<table>
  <tr>
    <th>Meal</th>
    <th>From</th>
    <th>Drink</th>
    <th>Dairy</th>
    <th>Calories</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lunches.each do |lunch| %>
  <tr>
    <td><%= lunch.meal %></td>
    <td><%= lunch.from %></td>
    <td><%= lunch.drink %></td>
    <td><%= lunch.dairy %></td>
    <td><%= lunch.calories %></td>
    <td><%= lunch.date %></td>
    <td><%= link_to 'Show', lunch %></td>
    <td><%= link_to 'Edit', edit_lunch_path(lunch) %></td>
    <td><%= link_to 'Destroy', lunch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lunch', new_lunch_path %>
