<p id="notice"><%= notice %></p>

<p>
  <b>Meal:</b>
  <%= @lunch.meal %>
</p>

<p>
  <b>From:</b>
  <%= @lunch.from %>
</p>

<p>
  <b>Drink:</b>
  <%= @lunch.drink %>
</p>

<p>
  <b>Dairy:</b>
  <%= @lunch.dairy %>
</p>

<p>
  <b>Calories:</b>
  <%= @lunch.calories %>
</p>

<p>
  <b>Date:</b>
  <%= @lunch.date %>
</p>


<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Back', lunches_path %>
